# .NET
bin/
obj/
*.user
*.userosscache
*.sln.docuser

# Visual Studio
.vs/

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# PML Generated
PML_Internal/Il2CppAssemblies/
PML_Internal/PML_Log.txt
Mods/*/bin/
Mods/*/obj/
