# .NET
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docuser
*.suo
*.user
*.userosscache
*.sln.docuser
*.userprefs

# Visual Studio
.vs/
.vscode/

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# PML Specific
PML_Internal/Il2CppAssemblies/
PML_Internal/PML_Log.txt
Mods/
!Mods/.gitkeep

# Task Specific (Requested)
ConvertThisMod/
PolyTopiaSource/

# OS Specific
.DS_Store
thumbs.db
desktop.ini
